.square {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
  margin: auto;
  border: 5px solid magenta; }
  .square .snake {
    position: absolute;
    left: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    -webkit-animation: snake 5s infinite;
    animation: snake 5s infinite;
    background: blue; }

@-webkit-keyframes snake {
  0% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 15px;
    background: blue;
    height: 15px; }
  7.5% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 15px;
    background: green;
    height: 100%; }
  15% {
    top: calc(100% - 15px);
    left: calc(50% - 7.5px);
    width: 15px;
    background: green;
    height: 15px; }
  22.5% {
    top: calc(100% - 15px);
    left: 0;
    width: 50%;
    background: yellow;
    height: 15px; }
  30% {
    top: calc(100% - 15px);
    left: 0;
    width: 15px;
    background: orange;
    height: 15px; }
  37.5% {
    top: calc(50% - 7.5px);
    left: 0;
    width: 15px;
    background: orange;
    height: 50%; }
  45% {
    top: calc(50% - 7.5px);
    left: 0;
    width: 15px;
    background: red;
    height: 15px; }
  52.5% {
    top: calc(50% - 7.5px);
    left: 0;
    width: 100%;
    background: red;
    height: 15px; }
  60% {
    top: calc(50% - 7.5px);
    left: calc(100% - 15px);
    width: 15px;
    background: red;
    height: 15px; }
  67.5% {
    top: 0;
    left: calc(100% - 15px);
    width: 15px;
    background: skyblue;
    height: 50%; }
  75% {
    top: 0;
    left: calc(100% - 15px);
    width: 15px;
    background: skyblue;
    height: 15px; }
  82.5% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 50%;
    background: skyblue;
    height: 15px; }
  90% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 15px;
    background: blue;
    height: 15px; } }

@keyframes snake {
  0% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 15px;
    background: blue;
    height: 15px; }
  7.5% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 15px;
    background: green;
    height: 100%; }
  15% {
    top: calc(100% - 15px);
    left: calc(50% - 7.5px);
    width: 15px;
    background: green;
    height: 15px; }
  22.5% {
    top: calc(100% - 15px);
    left: 0;
    width: 50%;
    background: yellow;
    height: 15px; }
  30% {
    top: calc(100% - 15px);
    left: 0;
    width: 15px;
    background: orange;
    height: 15px; }
  37.5% {
    top: calc(50% - 7.5px);
    left: 0;
    width: 15px;
    background: orange;
    height: 50%; }
  45% {
    top: calc(50% - 7.5px);
    left: 0;
    width: 15px;
    background: red;
    height: 15px; }
  52.5% {
    top: calc(50% - 7.5px);
    left: 0;
    width: 100%;
    background: red;
    height: 15px; }
  60% {
    top: calc(50% - 7.5px);
    left: calc(100% - 15px);
    width: 15px;
    background: red;
    height: 15px; }
  67.5% {
    top: 0;
    left: calc(100% - 15px);
    width: 15px;
    background: skyblue;
    height: 50%; }
  75% {
    top: 0;
    left: calc(100% - 15px);
    width: 15px;
    background: skyblue;
    height: 15px; }
  82.5% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 50%;
    background: skyblue;
    height: 15px; }
  90% {
    top: 0;
    left: calc(50% - 7.5px);
    width: 15px;
    background: blue;
    height: 15px; } }

.sq {
  width: 248px;
  background: #fadfad;
  border: 1px solid magenta;
  border-collapse: collapse; }
